// <%= name %> Module
@import "config/colors";
@import "config/icons";
@import "config/images";
@import "config/layouts";
@import "config/typography";

@import "partials/base";
@import "partials/layout";
@import "partials/modifier";
@import "partials/state";
@import "partials/theme";
